H_ALIGN_AI_API_KEY=local-test-key
CARD_HAS_MODEL_HOST=/Users/kmj/Documents/Infant-height-Measurement/app/models/has_image_0209_fp32/sensitive_seg_best.pt
INFANT_HEAD_TOP_CHECKPOINT_HOST=/Users/kmj/Documents/Infant-height-Measurement/work_dirs/rtmpose_infant_head_top_only/best_coco_AP_epoch_85.pth
